h1{
    color:red;
    font-family:"Impact";
    text-align: center;
    background-color: aquamarine;
  }
p{
    font-size:25px;
    font-weight: bold;
 }
table{
    background-color: aliceblue;
    
}
body{
    background-image:url("../images/02.jpg");
    background-repeat: no-repeat;
}