div.title{
    width: 900px;
    height: 40px;
    font-size: 35px;
    font-family: "impact";
    background-color:orangered;
   
}
div.menu{
    width: 900px;
    height: 75px;
    font-size: 20px;
   color: lightpink;
   
}
span.menuitem{
     width: 290px;
    height: 50px;
  
    margin-right: 8px;
    font-size: 30px;
   background-color: lightpink;
    display: inline-block;
    vertical-align: top;
}
span.menuitem2{
     width: 290px;
    height: 50px;
  
    margin-right: 8px;
    font-size: 30px;
   background-color: lightpink;
    display: inline-block;
    vertical-align: top;
}
span.menuitem3{
     width: 290px;
    height: 50px;
   
   font-size: 30px;
   background-color: lightpink;
    display: inline-block;
    vertical-align: top;
}
div.image{
    width: 900px;
    height: 450px;
     display: inline-block;
    vertical-align: top;
}
span.images{
    width: 900px;
    height: 450px;
     display: inline-block;
    vertical-align: top;
}
div.image2{
    width: 900px;
    height: 350px;
    margin-top: 5px;
     display: inline-block;
    vertical-align: top;
}
span.images2{
    width: 900px;
    height: 350px;
     margin-top: 5px;
     display: inline-block;
    vertical-align: top;
}
